<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title> {{ currentTrack?.title }} </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ currentTrack?.title }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="loader-page" *ngIf="isLoading">
        <div style="margin: auto">
            <ion-spinner color="primary"></ion-spinner>
        </div>
    </div>

    <ion-list *ngIf="!isLoading">
        <st-track-detail #track data="{{ dataString }}"></st-track-detail>
    </ion-list>
</ion-content>
