.App {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.flex-1 {
    flex: 1;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.content-widget {
    margin: 16px;
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
    flex: 1;
    overflow: scroll;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.section h2 {
    padding: 4px 16px;
    margin: 0;
}
.section .horizontal-scroll {
    width: 100vw;
    white-space: nowrap;
    padding: 8px;
    overflow: scroll;
}

.content {
    margin: 8px;
    max-width: 150px;
    display: inline-block;
}

.content > div {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 0;
}

.content .title {
    font-weight: bold;
    margin-top: 2px;
}

.content img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
}
